.config-wrapper {
  margin-bottom: 15px;
  .label {
    font-weight: bold;
    margin-right: 15px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  &_step {
    .mat-form-field {
      margin-right: 20px;
      width: 100px;
    }
  }
}

.zone {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &-value {
    font-weight: bold;
  }

  &-config {
    flex-direction: column;
  }
}

pre {
  background: rgba(0, 0, 0, 0.01);
  border: 0.5px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  display: block;
  margin: 16px auto;
  overflow-x: auto;
  padding: 20px;
  white-space: pre-wrap;
  font-family: Roboto Mono,monospace;

  code{
    background: transparent;
    padding: 0;
    font-size: 100%;
  }
}
