.config-wrapper {
  margin-bottom: 15px;
  .label {
    font-weight: bold;
    margin-right: 15px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }

  &_step {
    .mat-form-field {
      margin-right: 20px;
      width: 100px;
    }
  }
}

.zone {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  &-value {
    font-weight: bold;
  }

  &-config {
    flex-direction: column;
  }
}

pre {
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
  border: 0.5px dashed rgba(0, 0, 0, 0.12);
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f5f5f5;
}

code {
  line-height: 140%;
  white-space: pre;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -o-pre-wrap;
}
