<mat-tab-group [mat-stretch-tabs]="false">
  <mat-tab label="API">
    <p>Thank you so much for your coffee ❤️ </p>
    <a href="https://www.buymeacoffee.com/h2qutc" target="_blank">
      <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
        style="height: 35px !important;width: 150px !important;">
    </a>
    <h1>API reference for @angular-material-components/file-input</h1>
    <h2>Getting started</h2>

    <a href="https://www.npmjs.com/package/@angular-material-components/file-input" target="_blank">
      <img src="https://badge.fury.io/js/%40angular-material-components%2Ffile-input.svg">
    </a>

    <pre><code ngxMatHighlight>{{code1}}</code></pre>

    <h2>Setup</h2>
    <pre><code ngxMatHighlight class="language-typescript">{{code2}}</code></pre>

    <h2>Properties @Input</h2>
    <table class="api-table-properties">
      <tbody>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Default value</th>
          <th>Description</th>
        </tr>

        <tr>
          <td>
            <div>disabled</div>
          </td>
          <td>boolean</td>
          <td>null</td>
          <td>
            <p>If true, the file input is readonly.</p>
          </td>
        </tr>

        <tr>
          <td>
            <div>multiple</div>
          </td>
          <td>boolean</td>
          <td>false</td>
          <td>
            <p>If true, the file input allows the user to select more than one file.
            </p>
          </td>
        </tr>

        <tr>
          <td>
            <div>accept</div>
          </td>
          <td>string</td>
          <td>null</td>
          <td>
            <p>Limiting accepted file types (For example: accept="image/png, image/jpeg" or accept=".png, .jpg, .jpeg" —
              Accept PNG or JPEG files.)
            </p>
          </td>
        </tr>

        <tr>
          <td>
            <div>color</div>
          </td>
          <td>ThemePalette</td>
          <td>null</td>
          <td>
            <p>Theme color palette for the component.
            </p>
          </td>
        </tr>

      </tbody>
    </table>

    <h2>Theming</h2>
    <p>@see @angular/material <a href="https://material.angular.io/guide/theming#using-a-pre-built-theme">Using a
        pre-built theme</a></p>
    <p>Add the Material Design icon font to your index.html</p>
    <pre><code ngxMatHighlight class="language-css">{{code6}}</code></pre>
  </mat-tab>
  <mat-tab label="Example">
    <mat-card class="zone zone-picker">
      <mat-card-content>
        <mat-form-field>
          <ngx-mat-file-input [formControl]="fileControl" [multiple]="multiple" [accept]="accept" [color]="color">
            <!-- <mat-icon ngxMatFileInputIcon>folder</mat-icon> -->
          </ngx-mat-file-input>
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="zone zone-value flex-column">

      <mat-card-content>
        <div class="title">Selected file(s):</div>
        <div class="value">
          <ul>
            <li *ngFor="let item of files">{{item?.name}}</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card class="zone zone-errors flex-column">
      <mat-card-content>
        <div class="title">Errors (Max size: {{maxSize}}Ko)</div>
        <div class="value">{{fileControl.errors | json}}</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="zone zone-config">
      <mat-card-content>
        <div class="config-wrapper">
          <span class="label">disabled (Default: false) </span>
          <mat-radio-group aria-label="Select an option" [ngModel]="disabled"
            (ngModelChange)="onDisabledChanged($event)">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
              {{option.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="config-wrapper">
          <span class="label">multiple (Default: false) </span>
          <mat-radio-group aria-label="Select an option" [(ngModel)]="multiple">
            <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
              {{option.label}}</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="config-wrapper">
          <span class="label">accept (Default: null) </span>
          <mat-form-field>
            <mat-label>Select accept</mat-label>
            <mat-select [(ngModel)]="accept">
              <mat-option *ngFor="let item of listAccepts" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="config-wrapper">
          <span class="label">color (Default: primary) </span>
          <mat-form-field>
            <mat-label>Select color</mat-label>
            <mat-select [(ngModel)]="color">
              <mat-option *ngFor="let item of listColors" [value]="item">
                {{item}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-card-content>
    </mat-card>

    <pre><code ngxMatHighlight class="language-html">{{code3}}</code></pre>

    <h4>You can provide a custom icon by using the directive ngxMatFileInputIcon</h4>

    <pre><code ngxMatHighlight class="language-html">{{code4}}</code></pre>

    <mat-form-field>
      <ngx-mat-file-input [formControl]="file2Control">
        <mat-icon ngxMatFileInputIcon>folder</mat-icon>
      </ngx-mat-file-input>
    </mat-form-field>

    <h4>You can use with all properties of MatFormField such as appearance variants, hint...</h4>

    <pre><code ngxMatHighlight class="language-html">{{code5}}</code></pre>

    <mat-form-field appearance="outline">
      <ngx-mat-file-input [formControl]="file3Control">
      </ngx-mat-file-input>
      <mat-hint>{{nbFiles}} selected file(s)</mat-hint>
    </mat-form-field>

  </mat-tab>

</mat-tab-group>