<div>

  <!-- ==============================DATE TIME PICKER================================== -->
  <h1> DEMO ngx-mat-datetime-picker</h1>
  <strong> SELECTED DATE: {{dateControl.value}}</strong>

  <hr />
  <h3>Base</h3>
  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker ></ngx-mat-datetime-picker>
  </mat-form-field>
  
  <hr />
  <h3>@Input showSpinners = {{showSpinners}}</h3>
  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker2 [showSpinners]="showSpinners"></ngx-mat-datetime-picker>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="showSpinners = !showSpinners">Toggle showSpinners </button>

  <hr />
  <h3>@Input disableSecond = {{disableSecond}}</h3>
  <mat-form-field>
    <input matInput [ngxMatDatetimePicker]="picker3" placeholder="Choose a date" [formControl]="dateControl">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <ngx-mat-datetime-picker #picker3 [disableSecond]="disableSecond"></ngx-mat-datetime-picker>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="disableSecond = !disableSecond">Toggle disableSecond</button>
  <hr />


    <!-- ==============================TIME PICKER================================== -->

  <div>Form Group</div>
  <div [formGroup]="formGroup">
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker2" placeholder="Choose a date" 
      formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>

  <div>{{formGroup.get('date').value}}</div>
  <hr />

  <h1> DEMO ngx-mat-timepicker</h1>
  <hr />
  <h3>Base</h3>
  <ngx-mat-timepicker [(ngModel)]="date"></ngx-mat-timepicker>
  <div>Date: {{date?.toLocaleString()}}</div>

  <hr />
  <h3>Disabled</h3>
  <ngx-mat-timepicker [(ngModel)]="date" [disabled]="disabled"></ngx-mat-timepicker>
  <button mat-raised-button color="primary" (click)="disabled = !disabled">Enable/Disable</button>
  <div>Date: {{date?.toLocaleString()}}</div>

  <hr />
  <h3>Custom step: hour(2), minute(5), second(10) </h3>
  <ngx-mat-timepicker [(ngModel)]="date" [stepHour]="2" [stepMinute]="5" [stepSecond]="10"></ngx-mat-timepicker>
  <div>Date: {{date?.toLocaleString()}}</div>

  <hr />
  <h3>Show/hide spinners</h3>
  <ngx-mat-timepicker [(ngModel)]="date" [showSpinners]="showSpinners"></ngx-mat-timepicker>
  <div>Date: {{date?.toLocaleString()}}</div>
  
  <button mat-raised-button color="primary" (click)="showSpinners = !showSpinners">Enable/Disable</button>

  <hr />
  <h3>Disable second</h3>
  <ngx-mat-timepicker [(ngModel)]="date" [disableSecond]="disableSecond"></ngx-mat-timepicker>
  <div>Date: {{date.toLocaleString()}}</div>
  <button mat-raised-button color="primary" (click)="disableSecond = !disableSecond">Enable/Disable second</button>

</div>