<div class="page">

  <h3>DEMO</h3>

  <table class="table">
    <thead>
      <tr>
        <th><strong>ngx-mat-datetime-picker</strong></th>
        <th><strong>ngx-mat-timepicker</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <pre>{{codeDatePicker}}</pre>
        </td>
        <td>
          <pre>{{codeTimePicker}}</pre>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field>
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" [formControl]="dateControl"
              [min]="minDate" [max]="maxDate" [disabled]="disabled">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker [showSpinners]="showSpinners" [showSeconds]="showSeconds"
              [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [touchUi]="touchUi"
              [color]="color" [enableMeridian]="enableMeridian">
            </ngx-mat-datetime-picker>
          </mat-form-field>
        </td>
        <td>
          <ngx-mat-timepicker [(ngModel)]="date" [disabled]="disabled" [showSpinners]="showSpinners"
            [stepHour]="stepHour" [stepMinute]="stepMinute" [stepSecond]="stepSecond" [showSeconds]="showSeconds"
            [color]="color" [enableMeridian]="enableMeridian">
          </ngx-mat-timepicker>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Errors (min, max, parse...):</strong>
          <pre> {{dateControl.errors | json}}</pre>
        </td>
        <td>
          <pre></pre>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>
          Date: {{dateControl.value?.toLocaleString()}}
        </th>
        <th>
          Date: {{date?.toLocaleString()}}
        </th>
      </tr>
    </tfoot>
  </table>

  <div class="config-wrapper">
    <span class="label">disabled (Default: false) </span>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="disabled">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
        {{option.label}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="config-wrapper">
    <span class="label">showSpinners (Default: true) </span>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="showSpinners">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
        {{option.label}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="config-wrapper">
    <span class="label">showSeconds (Default: false) </span>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="showSeconds">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
        {{option.label}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="config-wrapper">
    <span class="label">touchUi (Default: false) </span>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="touchUi">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
        {{option.label}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="config-wrapper">
    <span class="label">enableMeridian (Default: false) </span>
    <mat-radio-group aria-label="Select an option" [(ngModel)]="enableMeridian">
      <mat-radio-button class="example-radio-button" *ngFor="let option of options" [value]="option.value">
        {{option.label}}</mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="config-wrapper config-wrapper_step">
    <span class="label">steps </span>
    <mat-form-field>
      <mat-label>hour (default: 1)</mat-label>
      <mat-select [(ngModel)]="stepHour">
        <mat-option *ngFor="let step of stepHours" [value]="step">
          {{step}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>minute (default: 1)</mat-label>
      <mat-select [(ngModel)]="stepMinute">
        <mat-option *ngFor="let step of stepMinutes" [value]="step">
          {{step}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>second (default: 1)</mat-label>
      <mat-select [(ngModel)]="stepSecond">
        <mat-option *ngFor="let step of stepSeconds" [value]="step">
          {{step}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="config-wrapper">
    <span class="label">color (Default: primary) </span>
    <mat-form-field>
      <mat-label>Select color</mat-label>
      <mat-select [(ngModel)]="color">
        <mat-option *ngFor="let item of listColors" [value]="item">
          {{item}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="config-wrapper">
    <mat-checkbox (change)="toggleMinDate($event)">
      Min date (Default: null, Demo: now - 1 day) = {{minDate?.toLocaleString()}}
    </mat-checkbox>
  </div>

  <div class="config-wrapper">
    <mat-checkbox (change)="toggleMaxDate($event)">
      Max date (Default: null, Demo: now + 2 days) = {{maxDate?.toLocaleString()}}
    </mat-checkbox>
  </div>

  <hr />

  <h3>Working with FormGroup</h3>
  <h4>ngx-mat-datetime-picker</h4>
  <div>
    <pre>{{codeFormGroup}}</pre>
  </div>
  <div [formGroup]="formGroup">
    <mat-form-field>
      <input matInput [ngxMatDatetimePicker]="picker1" placeholder="Choose a date" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div><span [innerHTML]="code1"></span> = {{formGroup.get('date').value?.toLocaleString()}}</div>

  <hr />
  <h4>ngx-mat-time-picker</h4>
  <div>
    <pre>{{codeFormGroup2}}</pre>
  </div>
  <form [formGroup]="formGroup">
    <ngx-mat-timepicker formControlName="date2"></ngx-mat-timepicker>
  </form>
  <div><span [innerHTML]="code2"></span> = {{formGroup.get('date2').value?.toLocaleString()}}</div>

</div>