<mat-card class="zone zone-value">
    <div class="row" [style.background-color]="colorCtr.value?.rgba">HEX: {{colorCtr.value?.hex}}</div>
    <div class="row">RGBA: {{colorCtr.value?.rgba}}</div>
</mat-card>

<mat-card class="zone zone-picker">
    <mat-form-field>
        <input matInput [ngxMatColorPicker]="picker" [formControl]="colorCtr">
        <ngx-mat-color-toggle matSuffix [for]="picker"></ngx-mat-color-toggle>
        <ngx-mat-color-picker #picker></ngx-mat-color-picker>
    </mat-form-field>
</mat-card>