<mat-card>
    <mat-card-content>
        <p>Angular Material Library provide extra components for every project (<a
                href="https://www.npmjs.com/package/@angular-material-components/datetime-picker">Datetime Picker</a>,
            Time Picker<a href="https://www.npmjs.com/package/@angular-material-components/color-picker">, Color
                Picker</a>,
            <a href="https://www.npmjs.com/package/@angular-material-components/file-input">File Input</a>...)
        </p>
        <p>Please do not hesitate to contact us if you have any question or suggestion.</p> Feel free to open the issues
        <a href="https://github.com/h2qutc/angular-material-components/issues">here</a>
        <p>If you like this project, support <a
                href="https://github.com/h2qutc/angular-material-components">angular-material-components</a> by
            starring⭐️
        </p>

        <mat-divider></mat-divider>

        <p>And thank you so much for your coffee ❤️ </p>
        <a href="https://www.buymeacoffee.com/h2qutc" target="_blank">
            <img src="https://cdn.buymeacoffee.com/buttons/v2/default-yellow.png" alt="Buy Me A Coffee"
                style="height: 35px !important;width: 150px !important;">
        </a>

    </mat-card-content>
</mat-card>

<h2>List of components</h2>
<mat-nav-list>
    <a mat-list-item [routerLink]="['/datetimepicker']">
        <mat-icon matListIcon>date_range</mat-icon>
        Datetime Picker &nbsp; <img src="https://badge.fury.io/js/%40angular-material-components%2Fdatetime-picker.svg">
    </a>
    <a mat-list-item [routerLink]="['/colorpicker']">
        <mat-icon matListIcon>colorize</mat-icon>
        Color Picker &nbsp; <img src="https://badge.fury.io/js/%40angular-material-components%2Fcolor-picker.svg">
    </a>
    <a mat-list-item [routerLink]="['/fileinput']">
        <mat-icon matListIcon>attach_file</mat-icon>
        File Input &nbsp; <img src="https://badge.fury.io/js/%40angular-material-components%2Ffile-input.svg">
    </a>
</mat-nav-list>